<h2>**Termos de Utilização do Site**</h2>

<br />

<h5>O Termo de utilização do www.rentall.com é parte importante para estabelecer uma relação de confiança com nossos clientes e atender as regras e expectativas entre os usuários e o nosso site.</h5>
<h5>Nos preocupamos com sua segurança, mas para que nossos processos possam transcorrer normalmente é necessário o compartilhamento de informações com outros clientes previamente cadastrados. </h5>
<h5>Informações como (definir as informações que serão compartilhadas). Buscamos uma relação transparente com nossos clientes e dedicamos especial atenção as normas de conformidade com regulamentações como a Lei Geral de Proteção de Dados (LGPD).</h5>
<h5>Abaixo, você encontrará o termos de utilização do site, basta aceita-lo para utilizar nossos serviços, caso não concorde, entenderemos sua posição e estaremos aqui caso reconsidere sua posição.</h5>
<br/>
<h5>Equipe da Rent ALL</h5>

<br />

<h3><strong>**1. Introdução**</strong></h3>
<br />
<h4>Bem-vindo ao www.rentall.com . Ao utilizar este site, você concorda com os termos e condições descritos neste documento. Certifique-se de ler atentamente os seguintes termos e aceita-los antes de continuar a usar o site.</h4>
<br />
<h3><strong>**2. Coleta e Uso de Dados Pessoais**</strong></h3>
<br />
<h4>2.1. Nós valorizamos sua privacidade e cumprimos as disposições da LGPD no processamento de dados pessoais. Para entender como coletamos, usamos e protegemos suas informações, consulte nossa Política de Privacidade. (Inserir o link)</h4>
<br />
<h3><strong>**3. Consentimento para Coleta de Dados**</strong></h3>
<br />
<h4>3.1. Ao utilizar nosso site, você concorda com a coleta, processamento, compartilhamento e armazenamento de dados pessoais de acordo com nossa Política de Privacidade.</h4>
<br />
<h3><strong>**4. Direitos dos Titulares dos Dados**</strong></h3>
<br />
<h4>4.1. Você tem o direito de acessar, retificar, excluir ou portar seus dados pessoais de acordo com os termos estabelecidos em nossa Política de Privacidade e na LGPD.</h4>
<br />
<h3><strong>**5. Uso de Cookies**</strong></h3>
<br />
<h4>5.1. Nosso site utiliza cookies para melhorar a experiência do usuário. Ao continuar a usar o site, você concorda com o uso de cookies. Link para explicações do que é cookie</h4>
<br />
<h3><strong>**6. Conteúdo do Usuário**</strong></h3>
<br />
<h4>6.1. Ao enviar conteúdo para o nosso site, você concede permissão para sua exibição e uso de acordo com nossos termos. Você é responsável por garantir que o conteúdo enviado esteja em conformidade com a lei aplicável.</h4>
<br />
<h3><strong>**7. Propriedade Intelectual**</strong></h3>
<br />
<h4>7.1. Todo o conteúdo presente neste site, incluindo mas não se limitando a texto, imagens, vídeos e logotipos, é protegido por direitos autorais e outras leis de propriedade intelectual.</h4>
<br />
<h3><strong>**8. Alterações nos Termos de Utilização**</strong></h3>
<br />
<h4>8.1. Reservamos o direito de alterar estes Termos de Utilização a qualquer momento. As alterações entrarão em vigor após a publicação no site. É sua responsabilidade revisar periodicamente estes termos para estar ciente das atualizações.</h4>
<br />
<h3><strong>**9. Jurisdição e Lei Aplicável**</strong></h3>
<br />
<h4>9.1. Estes Termos de Utilização são regidos pelas leis do Brasil. Qualquer disputa relacionada a estes termos será submetida à jurisdição exclusiva dos tribunais competentes no Brasil.</h4>
<br />
<h3><strong>**10. Contato**</strong></h3>
<br />
<h4>10.1. Se você tiver alguma dúvida ou preocupação sobre estes Termos de Utilização ou nossa conformidade com a LGPD, entre em contato conosco através (informações de contato).</h4>
<br />



